Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
.codebuddy
.cache/
.clangd
compile_commands.json
Source/FPS/Private/Arena
Source/FPS/Public/Arena
Plugins/Developer/RiderLink/*.*


# 本地个人构建脚本 (封装 UE 编译命令，不提交)
local_build.sh

# 超过100MB的大文件，无法上传GitHub
Content/Effects/Textures/Flipbooks/SmokeSwirl_3_Flipbook_CHANNELPACK.uasset